<!--<h1>Listing zombies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Email</th>
      <th>Rotting</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @zombies.each do |zombie| %>
      <%= div_for zombie do %>
        <tr>
          <td><%= zombie.name %></td>
          <td><%= zombie.bio %></td>
          <td><%= zombie.age %></td>
          <td><%= zombie.email %></td>
          <td><%= zombie.rotting %></td>
          <div class="actions">
          <td><%= link_to 'Show', zombie %></td>
          <td><%= link_to 'Edit', edit_zombie_path(zombie) %></td>
          <td><%= link_to 'Destroy', zombie, method: :delete%></td>
          </div>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zombie', new_zombie_path %>
-->
<div id="zombies">
<%= render @zombies %>
</div>
<%= form_for(Zombie.new) do |f| %>
<div class="field">
  <%= f.label :name %> <br />
  <%= f.text_field :name %>
  </div>
  <div class="actions">
  <%= f.submit %>
  </div>
<%end%>